<!doctype html>
<html ng-app="myApp">
<head>
	<title>Chain It - Make your habits too strong to break</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	<script src ="script/app.js"></script>
	<script src ="script/script.js"></script>
</head>
<body ng-controller="newChainController as newChain">
	<h1>Chains</h1>
<div>
	<div class = "container">
		<center>
		<h2>Add a new Chain</h2>
		<form ng-submit="addChain()">
			<label>Chain Name: </label>
			<br>
			<input type="text" ng-model="name" name="name"placeholder="eg. Meditation">
			<h3>{{name}}</h3>
			<label>3 reasons for picking up the habit:</label>
			<br>
			<textarea type="text" ng-model="desc"></textarea>
			<h3>{{desc}}</h3>
			
			<!--days-->
			<label>Select Days</label>
			<div class="weekDays-selector">
			  <input type="checkbox" id="weekday-sun" class="weekday" />
			  <label for="weekday-sun">S</label>
			  <input type="checkbox" id="weekday-mon" class="weekday" />
			  <label for="weekday-mon">M</label>
			  <input type="checkbox" id="weekday-tue" class="weekday" />
			  <label for="weekday-tue">T</label>
			  <input type="checkbox" id="weekday-wed" class="weekday" />
			  <label for="weekday-wed">W</label>
			  <input type="checkbox" id="weekday-thu" class="weekday" />
			  <label for="weekday-thu">T</label>
			  <input type="checkbox" id="weekday-fri" class="weekday" />
			  <label for="weekday-fri">F</label>
			  <input type="checkbox" id="weekday-sat" class="weekday" />
			  <label for="weekday-sat">S</label>
			 </div>
			<input type="submit" value="Submit"/>
		</form>
		</center>
	</div>
</div>
<h3>Total Habits: {{habits.length}}</h3>
	<view-all></view-all>
</body>
</html>