.container{
	border:#0c5f21 3px solid;
	background-color:#e3faff;
	width: 50%;
	text-align: center;
	padding: 20px;
}
.chain-display{
	width: 20%;
	background-color: #eddbf9;
	margin: 20px;
	display:inline-block;
}
.weekDays-selector input {
  display: none!important;
}
h1{
	text-align: center;
}
.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}
textarea{
	width:300px;
	height:90px;
}
ul{
	text-decoration: none;
}