//colours for chains
$colour1: #FF4830;
$colour2: #96E281;
$colour3: #FF4830;
$colour4: #FFEC5E;
$colour5: #87F5FB;
$violet: #ACBED8;
$white: white;

$radius: 6px;

@mixin bordmarg(){
	margin: 15px;
	padding:15px;
}
a{
	text-decoration: none;
	color: $white;
}
textarea{
	border:none;
	border-radius: $radius;
}
h1, h2{
	text-align: center;
	span{
		padding-bottom: 5px;
		border-bottom: 7px black solid;
	}
}
input[type=text]{
	border:none;
	border-radius: $radius;
	padding:7px 15px;
}
button{
	border-radius: 50px;
	width:50px;
	height:50px;
	border:2px solid $white;
	color: $white;
	background-color: inherit;
	padding: 10px;
	font-size: 1.2em;
	font-family: "Helvetica", sans-serif;
}
$colours: $colour1, $colour2, $colour3, $colour4, $colour5;
*{
	font-family: "Helvetica", sans-serif;
}
body{
	background-color: $white;
	border: 0px 20px solid black;
	margin:0px;
}
nav{
	width:100%;
	background-color: black;
	height: 50px;
	ul{
		display:inline;
		float:right;
		li{
			margin-left: 30px;
			margin-right: 20px;
			display:inline;
			a{
				text-decoration:none;
				color:$white;
				font-size: 1.5em;
			}
		}
	}
}
h1{
	font-size: 5em;
	line-height: 0.2em;
}
h2{
	font-size: 3em;
	line-height: 0.7em;
}

.container{
	background-color:$colour4;
	border-radius: $radius;
	width: 60%;
	padding: 20px;
	margin:auto;
}
h1{
	text-align: center;
}
textarea{
	width:300px;
	height:90px;
}
ul{
	text-decoration: none;
}
.task-display{
	display:inline-block;
	border-radius: $radius;
}
.list{
	@include bordmarg();
	border-radius: $radius;
	width: 30%;
	background-color: $colour3;
	display: inline-block;
	float:left;
	margin: 40px calc((100% - 65%)/4);
	ul{
		list-style: none;
	}
	h4{
		display:block;
	}
}
.chain-display{
	width: 25%;
	background-color: $violet;
	margin: 15px;
	padding:15px;
	color:white;
	display:inline-block;
	border-radius: $radius;
	h2{
		font-size: 3em;
	}
	h3, h4, h5{
		font-size:1em;
	}
}
.todayDate{
	text-align: center;
	h2, h3{
		display:inline;
	}
	h3{
		margin-right: 20px;
	}
	h2{
		padding-bottom: 10px;
		border-bottom: 5px solid black;
	}
}
.background{
	top:0px;
	z-index: -10;
	position:fixed;
	color: red;
	height:100vh;
	width:100%;
	h1{
		color: green !important;
	}
	div{
		width:20%;
		margin:0px;
		padding:0px;
		height:100vh;
		float:left;
	}
}
#circle{
	border-radius: 500px;
	background-color: white;
	height:400px;
	width:400px;
	margin:auto;
	h1{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
}
#stripe1{
	background-color: $colour3;
}
#stripe2{
	background-color: $colour2;
}
#stripe3{
	background-color: $violet;
}
#stripe4{
	background-color: $colour4;
}
#stripe5{
	background-color: $colour5;
}
