	<div class = "container">
		<center>
		<h2>Add a new Chain</h2>
		<form ng-submit="addChain()">
			<label>/name/</label>
			<br>
			<input type="text" ng-model="newHabit.name" name="name"placeholder="eg. Meditation">
			<h3>{{newHabit.name}}</h3>
			<label>/why/</label>
			<br>
			<textarea type="text" ng-model="newHabit.desc"></textarea>
			<h3>{{newHabit.desc}}</h3>

			<!--days-->
			<!--<label>Select Days</label>
			<div class="weekDays-selector">
			  <input type="checkbox" id="weekday-sun" class="weekday" />
			  <label for="weekday-sun">S</label>
			  <input type="checkbox" id="weekday-mon" class="weekday" />
			  <label for="weekday-mon">M</label>
			  <input type="checkbox" id="weekday-tue" class="weekday" />
			  <label for="weekday-tue">T</label>
			  <input type="checkbox" id="weekday-wed" class="weekday" />
			  <label for="weekday-wed">W</label>
			  <input type="checkbox" id="weekday-thu" class="weekday" />
			  <label for="weekday-thu">T</label>
			  <input type="checkbox" id="weekday-fri" class="weekday" />
			  <label for="weekday-fri">F</label>
			  <input type="checkbox" id="weekday-sat" class="weekday" />
			  <label for="weekday-sat">S</label>
			</div>-->
			<input type="submit" value="Submit"/>
		</form>
		</center>
	</div>
<h3>Total Habits: {{habits.length}}</h3>
