<div class="todoList notDone" ng-controller="toDoController">
  <h1> to do</h1>
  <ul ng-repeat="task in tasks | filter:{done: false}">
  <li>
    <button ng-click="task.done = true">✓</button>
    <h4>{{task.name}}</h4>
  </li>
</ul>
</div>
<div class="todoList done">
  <h1>done</h1>
  <ul ng-repeat="task in tasks | filter:{done: true}">
  <li>
    <button ng-click="task.done = false">𐄂</button>
    <h4>{{task.name}}</h4>
  </li>
  </ul>
  <h3 ng-click="testingThis()">test</h3>
</div>
<div class="deleted"></div>
