
<div class="list">
  <h2>Daily Tasks</h2>
    <div class = "task-display">
      <ul ng-repeat="habit in habits | filter:{done:false}">
    	<li>
        <button ng-click="habit.done = true">Done</button>
        {{habit.name}}</li>
    </ul>
    <a href="#add">/add new</a><a href="#view-all">/all</a>
    </div>
</div>
<div class="list" ng-controller="toDoController as toDoC">
  <h2>To Do</h2>
  <div class = "task-display">
    <ul ng-repeat="task in tasks | filter:{done: false}">
    <li>
      <button ng-click="remove($index)">Delete</button>
      <button ng-click="task.done = true">Done</button>
      {{task.name}}
    </li>
  </ul>
  	<form ng-submit="addTask()">
      Add: <input type="text" ng-model="newTask.name" name="name"placeholder="eg. jog 15km">
    </form>
  </div>
